@import 'tailwindcss';
@import 'tw-animate-css';
@import './shadcn.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  --animate-pulse-slow: pulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

button {
  cursor: pointer;
}

html {
  color-scheme: light dark;
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  /* min-width: 320px; */
  min-height: 100vh;
  /* background-color: #f8fafc;
  color: #1e293b; */
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

#root {
  width: 100%;
  margin: 0 auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: var(--page-background);
  opacity: 0.5;
} */

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
  transition: background-color 1000ms ease;
  transition-duration: 1000ms;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
  transition: background-color 1000ms ease;
  transition-duration: 1000ms;
}

/* Audio controls dark mode */
.dark audio::-webkit-media-controls-panel {
  background-color: #374151;
}

.dark audio::-webkit-media-controls-current-time-display,
.dark audio::-webkit-media-controls-time-remaining-display {
  color: #e5e7eb;
}
